<!DOCTYPE html>
<html lang="en">

<head>
    <title>Data Collected</title>
</head>

<body>
<h1>
    Data collected and Purpose
</h1>
<ol>
    <li>
        <dl>
            <dt>Email</dt>
            <dd>Used for but not limited to registering account, resetting password and verification.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Username and password given by the user upon registration</dt>
            <dd>Used for login purposes and public profile.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>spotify access token</dt>
            <dd>Allows us to retrieve top 50 artists and tracks. These are used in our matching algorithm.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Top tracks and artists</dt>
            <dd>
                Consequently to the previous point, data of top 50 tracks and artists listened by the user provided by the spotify api
                are also stored to be used in our matching algorithm.
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Languages</dt>
            <dd>Languages the user has stated to match users that speak same language.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Unique identifier id</dt>
            <dd>Only last device id is stored. Used to prevent multiple connections.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>matches of the user and who the user has blocked</dt>
            <dd></dd>
        </dl>
    </li>
</ol>

<h1>
    Data that can be seen but not permanently saved on server
</h1>
<p>
    Definition: This is the type of data we do not intentionally collect, however we happen to
    acquire it due to its nature.
</p>
<p>
    We do not make any further attempt to record it for long term use. The only purpose it serves is to diagnose issues.
    Usually it is gone when the server resets.
</p>
<p>
    This list is non-exhaustive. It is just here to give an idea and some things may be missing or omitted.
</p>
<ol>
    <li>
        <dl>
            <dt>data that is public in every web connection: ip, useragent etc.</dt>
            <dd></dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>message data and metadata</dt>
            <dd></dd>
        </dl>
    </li>
</ol>

<h1>
    Data that can be seen by other users of the app after a match
</h1>
<ol>
    <li>
        <dl>
            <dt>username of the matched user</dt>
            <dd></dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>top 50 artists and tracks the other user listens given by spotify api and which they have in common</dt>
            <dd></dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>languages the matched user speaks</dt>
            <dd></dd>
        </dl>
    </li>
</ol>
<h1>Footnotes</h1>
<p>
    No data can be accessed from the app for any user if there has been no match with that user.
</p>
<p>
    Note that your email and spotify account can't be seen by other users within the app regardless of if you have been matched or not.
    We do not share any data with other third parties.
</p>
</body>

</html>
