<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jam</title>
</head>

<body>
<h1>JAM</h1>
<p>An app that helps people with same music taste get together.</p>
<h2><a href="https://play.google.com/store/apps/details?id=com.overlap.jam">Play Store Link</a></h2>
<br>
<br>
<a href="/downloads">Download APK here</a>
<br>
<a href="/data_collected">Data Collected</a>
</body>
