<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jam</title>
</head>

<body>
<h1>JAM</h1>
<p>An app that helps people with same <s>music</s> taste get together.</p>

<a href="https://play.google.com/store/apps/details?id=com.overlap.jam">
    <img
            src="/public/google-play-badge.png"
            alt="Get it on Google Play"
            width="320px"
    />
</a>
<!--<a href="">-->
<!--    <img-->
<!--            src="/public/apple_store.svg"-->
<!--            alt="Download on the App Store"-->
<!--            width="320px"-->
<!--    />-->
<!--</a>-->


<h1>
    Data collected and Purpose
</h1>
<ol>
    <li>
        <dl>
            <dt>Email</dt>
            <dd>Used for but not limited to registering account, resetting password and verification.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Username and password given by the user upon registration</dt>
            <dd>Used for login purposes and public profile.</dd>
            <dd>Password is hashed before storage, so the contents of the password can't be seen.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Favorite colors selected</dt>
            <dd>
                Favorite colors selected are stored to be used in our matching algorithm. The color is removed
                once the user removes it. We don't keep a history of the colors the user has selected beforehand.
            </dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Languages</dt>
            <dd>Languages the user has stated to match users that speak same language.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Unique identifier id</dt>
            <dd>Only last device id is stored. Used to prevent multiple connections.</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>matches of the user and who the user has blocked</dt>
            <dd></dd>
        </dl>
    </li>
</ol>

<h1>
    Data that can be seen by other users of the app after a match
</h1>
<ol>
    <li>
        <dl>
            <dt>username of the matched user</dt>
            <dd></dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Favorite colors of the matched user, and what favorite colors are there in common with matching
                user</dt>
            <dd></dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>languages the matched user speaks</dt>
            <dd></dd>
        </dl>
    </li>
</ol>
<h1>Footnotes</h1>
<p>
    No data can be accessed from the app for any user if there has been no match with that user.
</p>
<p>
    Note that your email can't be seen by other users within the app regardless of if you have been matched or not.
    We do not share any data with other third parties.
</p>
</body>
