<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jam</title>
</head>

<body>
<h1>JAM</h1>
<p>An app that helps people with same music taste get together.</p>
<h2><a href="/downloads">Download here</a></h2>
<br>
<br>
<a href="/data_collected">Data Collected</a>
</body>
