<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Android Downloads</title>
</head>
<body>
<a href="/downloads">Back</a><br>
<br>
<% if (versions === undefined || versions.length === 0) {%>
    <h>No releases yet</h>
<% } else { %>
    <h3>Listed from most recent to the least recent release</h3>
    <ul>
        <% for (let i=versions.length-1; i>=0; i--) { %>
            <li><a href="/downloads/android/<%= versions[i]%>"><%= versions[i]%></a></li>
        <% } %>
    </ul>
<%}%>
</body>
</html>
