<!DOCTYPE html>
<html lang="en">

<head>
    <title>Downloads</title>
</head>

<body>
<h1>Downloads</h1>
<ul>
    <li><a href="/downloads/android">android</a></li>
    <li><a href="/downloads/ios">ios</a></li>
</ul>
</body>
